html, body {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header__center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-search-form {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.header-search-input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    padding: 7px 0 7px 10px;
    max-width: 500px;
}

.header-nav {
    display: flex;
    align-items: center;
    padding: 15px 10px 0 0;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li:last-child {
    margin: 0 5px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li .sell-button {
    display: inline-block;
    padding: 8px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;
}

.product-image {
    max-width: 70%;
    height: auto;
    margin-top: 20px;
    position: relative;
}

.soldout-label {
    position: absolute;
    top: 45%;
    left: 10.5%;
    width: 30%;
    height: 50px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    z-index: 100;
}

.right {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.first-info, .second-info, .comment-info {
    margin-bottom: 20px;
    padding: 10px;
}

h2, h3 {
    margin: 0 0 10px;
}

.info-container {
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 30px;
    padding: 20px;
}

#favoriteButton,
#commentButton {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 32px;
}

#favoriteCount {
    position: absolute;
    margin: 60px 0 0 10px;
    font-size: 16px;
}

#commentCount {
    position: absolute;
    margin: 60px 0 0 75px;
    font-size: 16px;
}

#favoriteButton:hover,
#commentButton:hover {
    color: #f39c12;
}

.clickable {
    cursor: pointer;
}

.buy-button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: rgb(238, 3, 66);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color:rgb(251, 48, 102);
}

.second-info h3 {
    margin-top: 10px;
}

.second-info h3.second {
    margin-top: 50px;
}

.second-info p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.category-box {
    border: 1px solid lightgray;
    margin-left: 20px;
    padding: 6px 20px;
    border-radius: 20px;
    background-color: lightgray;
}

.comment-info {
    margin-top: 10px;
}

.profile-wrapper {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    background-color: lightgray;
    margin-right: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.profile-name {
    position: absolute;
    left: 60%;
    font-size: 20px;
    font-weight: bold;
}

textarea {
    margin: 0;
    align-self: flex-start;
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: lightgray;
    text-align: left;
    font-size: 14px;
}

.comment {
    margin-top: 20px;
}

.comment-comment {
    margin-top: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.comment-info button {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: rgb(238, 3, 66);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}