html, body {
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

button, select {
    font-family: 'Noto Sans JP', sans-serif;
}

.header__center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-search-form {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.header-search-input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    padding: 7px 0 7px 10px;
    max-width: 500px;
}

.header-nav {
    display: flex;
    align-items: center;
    padding: 15px 10px 0 0;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li:last-child {
    margin: 0 5px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li .sell-button {
    display: inline-block;
    padding: 8px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.homepage {
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px 250px;
    background-color: white;
}

.first-content, .second-content, .third-content {
    margin-bottom: 30px;
}

.first-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.file-upload {
    display: inline-block;
    position: relative;
    text-align: center;
    border: 1px dashed #ccc;
    padding: 50px;
    width: 100%;
    height: auto;
}

.file-select {
    cursor: pointer;
    color: #333;
    font-weight: bold;
}

#image-preview {
    position: relative;
    margin-top: 0;
    display: none;
    text-align: center;
}

#preview-image {
    max-width: 50%;
    height: auto;
    padding: 5px;
}

.file-select {
    border: 1px solid rgb(238, 3, 66);
    color: rgb(238, 3, 66);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

h2.item-detail,
h2.item-title {
    position: relative;
    font-size: 26px;
    color: rgb(99, 98, 98);
}

h2.item-detail::after,
h2.item-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(99, 98, 98);
}

.selected-category {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

#categoryOptions button {
    display: inline-block;
    border: 1px solid rgb(238, 3, 66);
    border-radius: 20px;
    color: rgb(238, 3, 66);
    background-color: white;
    padding: 5px 15px;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

#categoryOptions button:hover {
    background-color: rgb(233, 87, 126);
    color: white;
}

#categoryOptions button.selected {
    background-color: rgb(233, 87, 126);
    color: white;
}

.select-box-label {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin-top: 30px;
    display: block;
}

.select-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.third-content {
    margin-top: 30px;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin-bottom: 0;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: -5px;
}

textarea {
    resize: vertical;
    height: 150px;
}

.price-container {
    position: relative;
    display: flex;
    align-items: center;
}

.currency-symbol {
    position: absolute;
    left: 10px;
    font-size: 16px;
    color: #555;
    pointer-events: none;
}

input[type="number"] {
    padding-left: 30px;
    padding-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: rgb(238, 3, 66);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: rgb(238, 3, 66);
}

.error {
    color: red;
    font-size: 12px;
    margin-left: 12px;
    align-self: flex-start;
}


@media (max-width: 768px) {
    .homepage {
        padding: 40px 20px;
    }
}